<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dischi PHP Vue</title>
    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <!-- AXIOS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0-0/axios.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div id="app">
        <header class="main-header">
            <img src="../assets/spotify_logo.png" alt="">
        </header>
        <main class="main-content">
            <div class="container">
                <ul v-if="disks.length" class="disks-list">
                    <li v-for="disk in disks" class="col">
                        <div class="card">
                            <img :src="disk.poster" alt="" class="card__img">
                            <div class="card__description">
                                <h4 class="title">{{ disk.title }}</h4>
                                <div class="author-year">
                                    <p class="author">{{ disk.author }}</p>
                                    <p class="year">{{ disk.year }}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </main>
    </div>

    <script src="./main.js"></script>
</body>
</html>